body {
	margin-top: 120px;
	padding: 0;
	margin: 0;
	color: #000;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	/*text-transform: uppercase;*/
}
ul, li {
	display: block;
}

/*----------  Header ----------*/

.header {
}
.header__conteiner {
	z-index: 9999;
	height: 120px;
	position: fixed;
	padding-left: 180px;
	top: 0px;
	left: 0px;
	right: 0px;
  	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400px;
  	font-style: normal;
  	font-size: 17px;
  	display: flex;
  	align-items: center;
	background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
} 
.header__line {
	position: relative;
	display: flex;
	align-items: center;
}
.nav-item {
	color: rgba(209, 209, 209, 1);
	text-decoration: none;
	margin-right: 20px;
	transition: color 0.3s ease-in;
}
.nav-item:hover {
	color: red;
	transition: color 0.3s ease;
}
.header__logo {
	margin-right: 68px;
	/* logo.png */	
}
.num {
	color: rgba(209, 209, 209, 1);
	text-decoration: none;
	font-weight: 400;
	font-size: 17px;
	width: 149px;
	height: 21px;
	line-height: 21px;
	margin-left: 255px;
	padding-left: 300px;
	transition: color 0.3s ease;
}
.num:hover {
	color: red;
	transition: color 0.3s ease-in;
}

/*---------- Начало первого блока страницы ----------*/

.frame-1 {
	background-position: 95% 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jpg/bkg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.main__container {

}
.section__block-down {
	margin-left: 180px;
	padding-top: 400px;
	width: 1390px;
}
.block__text-title {
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	text-align: left;
	font-size: 38px;
	font-weight: 700;
	line-height: 61px;
	color: rgba(255, 255, 255, 1);
	left: 10;
}
.block__text-subtitle {
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	margin-top: 20px;
	color: rgba(255, 255, 255, 1);
	hyphens: manual;
	width: 350px;
}

/********** Кнопка Связаться **********/
.block__down-btn {
	margin-top: 20px;
	z-index: 2;
	background-color: rgba(61, 68, 241, 1);
	box-shadow: 0px 0px 16px rgba(61, 68, 241, 0.45);
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
	width: 250px;
	height: 70px;
	position: relative;
	color: #fff;
	text-align: center;
	font-family: "Montserrat", sans-serif;
  	font-weight: 600;
  	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-in;
}
.block__down-btn:hover {
	background-color: rgba(61, 68, 150, 1);
	box-shadow: 0px 0px 100px rgba(61, 68, 241, 0.45);
	border-radius: 3px 3px 3px 3px;
	text-decoration: none;
	width: 250px;
	height: 70px;
	position: relative;
	color: #fff;
	text-align: center;
	font-family: "Montserrat", sans-serif;
  	font-weight: 600;
  	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
}
.block__down-btn:before {
	left: 50%;
	top: 0;
	position: absolute;
	content: '';
	width: 50px;
	height: 70px;
	background-color: transparent;
	transform: skew(-15deg);
	transition: all 0.3s ease-in;
}
.block__down-btn:hover::before {
	left: 10%;
	top: 0;
	position: absolute;
	content: '';
	width: 50px;
	height: 70px;
	background-color: rgba(255,255,255,0.1);
	transform: skew(-15deg);
	transition: all 0.3s ease;
}

/********** Блок карт **********/
}
.block-cards {
	justify-content: space-between;
}
.cards__conteiner {
	margin-top: 50px;
}
.cards__holder {
	justify-content: space-between;
	text-align: center;
	display: flex;
}
.card-1__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 200px;
    background-color: #ffffff1a;
    align-items: center;
}
.card-2__back {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	width: 420px;
	height: 200px;
	background-color: #ffffff1a;
	align-items: center;
}
.card-3__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 200px;
    background-color: #ffffff1a;
    align-items: center;
}
.card__text {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__title {
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	font-size: 55px;
	font-weight: 700;
	line-height: 59px;
	color: rgba(255, 255, 255, 1);
}
.card__desc {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	padding-top: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	line-height: 21px;
}

/*---------- Начало 2 страницы ----------*/

.frame-2 {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*border: 3px solid red;*/
}
.frame-2__container
{
	/*border: 2px solid red;*/
	width: 1440px;
	height: 800px;
	padding: 150px 196px 24px 180px;
}
.frame-2__title {
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 30px;
	font-style: normal;
}
.frame-2__groups
{
	width: 1390px;
	height: 700px;
	margin-top: 40px;
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.frame-2__group-1{
	padding: 0;
	margin: 0;
	width: 400px;
	height: 170px;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(40, 45, 158, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.frame-2__group-blue {
	width: 350px;
	height: 120px;
	/*border: 3px solid red;*/
}
.frame-2__group-subtitle__white {
	text-align: left;
	position: frame-2__group-blue;
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	font-style: normal;
	text-align: left;
	color: rgba(255, 255, 255, 1);
}
.frame-2__group-desc__white {
	padding-top: 20px;
	position: frame-2__group-blue;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	color: rgba(255, 255, 255, 1);
}
.frame-2__group-2{
	width: 400px;
	height: 170px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid rgba(40, 45, 158, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.frame-2__group-white{
	width: 350px;
	height: 120px;
}
.frame-2__group-subtitle__black {
	text-align: left;
	position: frame-2__group-white;
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	font-style: normal;
	text-align: left;
	color: rgba(61, 61, 61, 1);
}
.frame-2__group-desc__black {
	padding-top: 20px;
	position: frame-2__group-white;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	color: rgba(61, 61, 61, 1);
}
.frame-2__group-3 {
	width: 400px;
	height: 170px;
	border-radius: 5px 5px 5px 5px;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3)), url(../img/jpg/video.jpg);
	background-size: cover;
}
.frame-2__group-video {
	position: frame-2__group-3;
}
.frame-2__video-svg {
	transform: translate(20px, 30px);
	position: frame-2__group-3;
}
.frame-2__group-text {
	position: frame-2__group-3;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	padding: 30px 0px 0px 20px;
}
.frame-2__position-vector {
	margin-top: 85px;
}
.frame-2__position-vector-down-right {
	padding-left: 1190px;
	height: 85px;
}
.frame-2__position-vector-down-left {
	padding-left: 190px;
	height: 85px;
}
.frame-2__vector {
	width: 1440px;
}

/*---------- Начало 3 страницы ----------*/

.frame-3 {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.frame-3__container {
	width: 1860px;
	height: 750px;
}

/********** Подзаголовок **********/
.frame-3__title {
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
	text-align: left;
	padding: 25px 0px 0px 180px;
}

/********** Наши ниши **********/
.frame-3__niches-cards-1 {
	margin-top: 45px;
	width: 1860px;
	display: flex;
	justify-content: space-between;
}
.frame-3__niche-img-1 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-1.jpg);
	border-radius: 0px 5px 5px 0px;
	background-size: cover;
	width: 700px;
	height: 280px;
}
.frame-3__niche-img-2 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-2.jpg);
	border-radius: 5px 5px 5px 5px;
	background-size: cover;
	width: 700px;
	height: 280px;
}
.frame-3__niche-img-3 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-3.jpg);
	border-radius: 5px 0px 0px 5px;
	background-size: cover;
	width: 290px;
	height: 280px;
}
.frame-3__niche-img-4 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-1.jpg);
	border-radius: 0px 5px 5px 0px;
	background-size: cover;
	width: 290px;
	height: 280px;
}
.frame-3__niche-img-5 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-4.jpg);
	border-radius: 5px 5px 5px 5px;
	background-size: cover;
	width: 700px;
	height: 280px;
}
.frame-3__niche-img-6 {
	max-width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(75, 75, 75, 0)), url(../img/jpg/niche-3.jpg);
	border-radius: 5px 0px 0px 5px;
	background-size: cover;
	width: 700px;
	height: 280px;
}
.frame-3__niche-background-text-1 {
	margin-top: 180px;
	width: 280px;
	height: 60px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
}
.frame-3__niche-background-text-2 {
	margin-top: 180px;
	width: 220px;
	height: 25px;
	padding: 18px 40px 18px 40px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
}
.frame-3__niche-background-text-3 {
	margin-top: 180px;
	width: 120px;
	height: 25px;
	padding: 18px 40px 18px 40px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
}
.frame-3__niche-background-text-4 {
	margin-top: 180px;
	width: 80px;
	height: 60px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
}
.frame-3__niche-background-text-5 {
	margin-top: 180px;
	width: 220px;
	height: 25px;
	padding: 18px 40px 18px 40px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
}
.frame-3__niche-background-text-6 {
	margin-top: 180px;
	width: 120px;
	height: 25px;
	padding: 18px 40px 18px 40px;
	background-color: rgba(61, 68, 241, 1);
	border-radius: 0px 5px 5px 0px;
}
.frame-3__niche-text {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}
.frame-3__niche-text-2 {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;
	color: rgba(255, 255, 255, 1);
}

/*---------- Начало 4 страницы ----------*/

.frame-4 {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.frame-4__container {
	position: relative;
	width: 1860px;
	height: 750px;
	padding-left: 180px;
	display: flex;
	flex-direction: column;
}
.frame-4__founder {
	position: absolute;
	width: 890px;
	height: 100%;
}
.frame-4__founder-img {
	right: 290px;
	background-size: cover;
	width: 470px;
	height: 650px;
	margin-top: 100px;
	margin-left: 1000px;
	position: absolute;
}

/********** Подзаголовок **********/
.frame-4__title {
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 30px;
	font-weight: 700;
	line-height: 59px;
	text-align: left;
}
.frame-4__buttons {
	display: flex;
	justify-content: space-between;
	width: 230px;
}

/********** Кнопки 1-2 **********/
.frame-4__button-1 {
	margin-top: 30px;
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	border: 2px solid rgba(61, 68, 241, 1);
	background-color: #fff;
	width: 100px;
	height: 50px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
}
.frame-4__button-1:focus {
	transition: color 0.2s linear;
	margin-top: 30px;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	border: 2px solid rgba(61, 68, 241, 1);
	background-color: rgba(61, 68, 241, 1);
	width: 100px;
	height: 50px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
}
.frame-4__button-2 {
	margin-top: 30px;
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	border: 2px solid rgba(61, 68, 241, 1);
	background-color: #fff;
	width: 100px;
	height: 50px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
}
.frame-4__button-2:focus {
	transition: color 0.2s linear;
	margin-top: 30px;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	border: 2px solid rgba(61, 68, 241, 1);
	background-color: rgba(61, 68, 241, 1);
	width: 100px;
	height: 50px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
}

/********** ФИО основателя **********/
.frame-4__founder-LFP {
	padding-top: 30px;
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 25.5px;
	font-weight: 600;
	line-height: 29px;
	text-align: left;
}
.frame-4__founder-LFP-line {
	margin-top: 10px;
	width: 484px;
	border-bottom: 1px solid rgba(61, 68, 241, 1);
}

/********** Описание основателя **********/
.frame-4__founder-desc {
	margin-top: 30px;
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 25px;
	font-weight: 400;
	text-align: left;
}
p {
	line-height: 30px;
}

/********** Кнопка Подписаться на чат бота **********/
.frame-4__button-3-animation {
	width: 484px;
	height: 80px;
	animation-timing-function: ease;
}
.frame-4__button-3 {
	display: inline-block;
	margin-top: 30px;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 25px;
	font-weight: 600;
	line-height: 21px;
	border: 2px solid rgba(61, 68, 241, 1);
	background-color: rgba(61, 68, 241, 1);
	height: 50px;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(61, 68, 241, 0.45);
	width: 484px;
	height: 80px;
	position: relative;
	transition: all 0.3s ease-in;
}
.frame-4__button-3:hover {
	margin-top: 30px;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 25px;
	font-weight: 600;
	line-height: 21px;
	border: 2px solid rgba(61, 68, 150, 1);
	background-color: rgba(61, 68, 150, 1);
	height: 50px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 100px rgba(61, 68, 241, 0.45);
	text-align: center;
	width: 484px;
	height: 80px;
	transition: 0.3s ease;
}
.frame-4__button-3:before {
	left: 50%;
	top: 0;
	position: absolute;
	content: '';
	width: 50px;
	height: 80px;
	background-color: transparent;
	transform: skew(-15deg);
	transition: all 0.3s ease-in;
}
.frame-4__button-3:hover::before {
	left: 10%;
	top: 0;
	position: absolute;
	content: '';
	width: 50px;
	height: 80px;
	background-color: rgba(255,255,255,0.1);
	transform: skew(-15deg);
	transition: all 0.3s ease;
}

/********** Секция с лицензиями **********/
.frame-4__licensions {
	background-color: rgba(61, 68, 241, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
	width: 850px;
	height: 152px;
	padding: 0px 20px 0px 20px;
}
.frame-4__lic-1 {
	/*display: inline-block;*/
	width: 70px;
	height: 90px;
	background: url(../img/jpg/lic-1.jpg);
	background-size: cover;
	overflow: hidden;
	transition: background 0.2s ease-in;
}
.frame-4__lic-2 {
	width: 70px;
	height: 90px;
	background: url(../img/jpg/lic-2.jpg);
	background-size: cover;
	overflow: hidden;
	transition: background 0.2s ease-in;
}
.frame-4__lic-3 {
	width: 70px;
	height: 90px;
	background: url(../img/jpg/lic-3.jpg);
	background-size: cover;
	overflow: hidden;
	transition: background 0.2s ease-in;
}
.frame-4__lic-4 {
	width: 70px;
	height: 90px;
	background: url(../img/jpg/lic-4.jpg);
	background-size: cover;
	overflow: hidden;
	transition: background 0.2s ease-in;
}
.frame-4__lic-5 {
	width: 70px;
	height: 90px;
	background: url(../img/jpg/lic-5.jpg);
	background-size: cover;
	overflow: hidden;
	transition: background 0.2s ease-in;
}
.frame-4__lic-1:hover {
	transition: background 0.2s ease;
	display: block;
	background-image: url(../img/jpg/lic-5.jpg);
	transform: scale(1.32) translate(43%, 12%); 
	cursor: pointer;
	overflow: hidden;
}
.frame-4__lic-2:hover {
	transition: background 0.2s ease;
	display: block;
	background-image: url(../img/jpg/lic-5.jpg);
	transform: scale(1.32) translate(43%, 12%); 
	cursor: pointer;
	overflow: hidden;
}
.frame-4__lic-3:hover {
	transition: background 0.2s ease;
	display: block;
	background-image: url(../img/jpg/lic-5.jpg);
	transform: scale(1.32) translate(43%, 12%); 
	cursor: pointer;
	overflow: hidden;
}
.frame-4__lic-4:hover {
	transition: background 0.2s ease;
	display: block;
	background-image: url(../img/jpg/lic-5.jpg);
	transform: scale(1.32) translate(43%, 12%); 
	cursor: pointer;
	overflow: hidden;
}
.frame-4__lic-5:hover {
	transition: background 0.2s ease;
	display: block;
	background-image: url(../img/jpg/lic-5.jpg);
	transform: scale(1.32) translate(37%, 12%); 
	cursor: pointer;
	overflow: hidden;
}

/*---------- Начало 5 страницы ----------*/

.frame-5 {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.frame-5__container {
	position: relative;
	width: 1860px;
	height: 750px;
	padding-left: 180px;
}
.frame-5__title-container {
	position: relative;
	width: 100%;
	height: 150px;
}

/********** Заголовок страницы **********/
 .frame-5__title {
 	position: absolute;
 	display: inline-block;
 	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 48px;
	font-weight: 700;
	text-align: left;
 }

 /********** Кнопки заголовка **********/

 .frame-5__buttons {
 	margin-top: 10px;
 	width: 115px;
 	position: absolute;
 	top: 0;
 	display: inline-block;
 	left: 1275px;
 }
 .frame-5__arrow-button-1 {
 	transition: 0.2s ease-in;
 	position: relative;
 	width: 45px;
 	height: 45px;
 	display: inline-block;
 	border-radius: 50%;
 	background-size: cover;
 	border: none;
 	background-color: rgba(203, 203, 203, 1);
 	cursor: pointer;
 	overflow: hidden;
 }
.frame-5__arrow-button-1-img {
	transition: 0.2s ease-in;
	position: absolute;
	background: url(../img/svg/arrow-left-button.svg);
	width: 15px;
	height: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
}
.frame-5__arrow-button-1:hover {
	transition: 0.2s ease;
 	width: 45px;
 	height: 45px;
 	border-radius: 50%;
 	background-size: cover;
 	border: none;
 	background-color: rgba(61, 68, 241, 1);
 }
 .frame-5__arrow-button-1-img:hover {
 	transition: 0.2s ease;
	position: absolute;
	background: url(../img/svg/arrow-left-button.svg);
	filter: grayscale(100) brightness(200); /*При наведении, картинка меняет цвет на белый grayscale - обесцвечиваем изображение; brightness - устанавливаем яркость с заведомо завышенным значением.*/
	width: 15px;
	height: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
} 
 .frame-5__arrow-button-2 {
 	transition: 0.2s ease-in;
 	overflow: hidden;
 	left: 21px;
 	background-color: rgba(203, 203, 203, 1);
 	position: relative;
 	width: 45px;
 	height: 45px;
 	display: inline-block;
 	border-radius: 50%;
 	background-size: cover;
 	border: none;
 	cursor: pointer;
 }
 .frame-5__arrow-button-2-img {
 	transition: 0.2s ease-in;
 	position: absolute;
	background: url(../img/svg/arrow-right-button.svg);
	width: 15px;
	height: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
}
.frame-5__arrow-button-2:hover {
	transition: 0.2s ease;
 	width: 45px;
 	height: 45px;
 	border-radius: 50%;
 	background-size: cover;
 	border: none;
 	background-color: rgba(61, 68, 241, 1);
 }
 .frame-5__arrow-button-2-img:hover {
 	transition: 0.2s ease;
	position: absolute;
	background: url(../img/svg/arrow-right-button.svg);
	filter: grayscale(100) brightness(200); /*При наведении, картинка меняет цвет на белый grayscale - обесцвечиваем изображение; brightness - устанавливаем яркость с заведомо завышенным значением.*/
	width: 15px;
	height: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translate(0, -50%);
}

/**********Контент страницы - Заголовок **********/
.frame-5__subtitle {
	color: rgba(61, 61, 61, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 32px;
	font-weight: 600;
	line-height: 39px;
	text-align: left;
}

/**********Контент страницы - Карты **********/
.frame-5__cards-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 1390px;
}
.frame-5__card {
	border-radius: 5px;
	position: relative;
	width: 440px;
	height: 550px;
	overflow: hidden;
}
.frame-5__card img {
	position: absolute;
	background-size: cover;
	width: 440px;
	height: 550px;
	min-width: 100%;
  	min-height: 100%;
  	left:0;
  	top: 0;
}
.frame-5__text-gradient {
	position: absolute;
	padding-left: 20px;
	opacity: 0.75;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1));
	position: relative;
	width: 100%;
	height: 100%;

}
.frame-5__subtitle-card {
	left: 20px;
	top: 390px;
	position: absolute;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
}
.frame-5__desc-card {
	left: 20px;
	top: 430px;
	position: absolute;
	color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
}
p {
	line-height: 23px;
}
